@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter-V";
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("../../public/fonts/Inter-V.woff2") format("woff2");
}

body {
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 0;
  font-family: "Inter-V", sans-serif;
  scrollbar-width: none;
  font-variation-settings: "slnt" 0, "opsz" 32;
}
